{% extends "layout.html" %}
{% block content %}
	<p class="small ml red">you found me. how cool for you. here are some notes on this web site.  it isnt perfectly secure by any means.  it does however operate with an SSL certificate. if you would like to secure your connection and communication further we strongly suggest you use a VPN.  there are many you can easily build yourself and have to use at your leisure.  If you choose to encrypt any message then it is stored as an encrypted file, represented as BLOB in our database.  you are the only person that knows your chosen key, distribute that however you please. we dont store your password, we do store your profile photo. choose whatever you want for a username.  we wont create cookies for you, however in the future there are plans to create cookies over which YOU will have complete control.  maybe you could pool your data together to sell to some of the degenerates that are buying up your souls. maybe they will end up being misleading to those very same degenerates.

	there are more plans for the future.  one is to include a blockchain option. the other is to make it easy for people to download this website and run as a node on a blockchain, only allowing their chosen group access.  

	this stuff, it wont change the world. the change that brought it here has already happened. its really just quite fun to ride this wave. 

	</p>
{% endblock content %}
	