{% extends "layout.html" %}
{% block content %}
	{% for post in posts.items %}
		{% if post.author in tribe or post.author==current_user %}
			<div class="home">
				
				<div class="metadata">
					<img class=" pb-3 left very-small-round" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
					<a class="title-name" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{  post.author.username }}</a>
					<small class="title-title"> posted </small>
					<a class="title-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }} </a>
					<small class="title-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
				</div>

				<div class="">
				
					{% if post.image_file %}
						{% if post.length < 470 %}
							<a href="{{ url_for('posts.post', post_id=post.id)}}"><img class="picture-small-posts" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" onerror="this.src='../static/post_pics/tenofcups.png'"/></a>
							<p class="wrap">{{ post.short_content }}<a class="smaller right red" href="{{ url_for('posts.post', post_id=post.id) }}">(inspect)</a></p>
						{% else %}
							<a href="{{ url_for('posts.post', post_id=post.id) }}"><img class="picture-mini" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" onerror="this.src='../static/post_pics/tenofcups.png'"/></a>
							<p class="wrap">{{ post.short_content }}<a class="smaller right red" href="{{ url_for('posts.post', post_id=post.id) }}">(inspect)</a></p>
						{% endif %}
					{% else %}
						<p class="wrap">{{ post.short_content }}<a class="smaller right red" href="{{ url_for('posts.post', post_id=post.id) }}">(inspect)</a></p>
					{% endif %}
					
		

				</div>
					
				
			</div>
		{% endif %}
	{% endfor %}
	
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
		{% if page_num %}
			<div class="inline padb-250">
				{% if posts.page == page_num %}
					{% if page_num == 1 %}
						<a class="small-button ml" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
					{% else %}
						<a class="small-button" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
					{% endif %}
				{% else %}
					{% if page_num == 1 %}
						<a class="small-plain ml" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
					{% else %}	
						<a class="small-plain" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
					{% endif %}
				{% endif %}
			</div>
			
		{% else %}
			...
		{%endif %}
	{% endfor %}
{% endblock content %}

